body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
}
.container, .content, .subContent{
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.container{
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.content{
    width: 40%;
    height: 90%;
    flex-direction: column;
}
.content:nth-child(1){
    justify-content: space-evenly;
    background-color: white;
}
.content:nth-child(2){
    justify-content: space-between;
}
.subContent{
    background-color: white;
    width: 100%;
    height: 45%;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Table Style*/
table{
    padding: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px black;
}
thead, th, tr, td{
    padding: 2px;
    border: 2px solid black;
}